@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    display: flex;
}
.img{
    background-image: linear-gradient(rgba(4, 9, 30, 0.447),rgba(4,9,30,0.447)),url(images/netflix\ bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    border-bottom: 10px solid rgba(0, 0, 0, 0.211);
}
.logo{
    width: 782.4px;
    height: 150px;
    align-content: center;
    justify-content: center;
    backdrop-filter: blur(2.5px);
}
#logo{
    display: inline-block;
    font-family: "Anton SC";
    font-size: 60px;
    color: rgb(229, 9, 20);
    text-shadow: 4px 4px 3px black;
    margin: 0px 120.6px;
}
.dp{
    width: 782.4px;
    height: 150px;
    background-color: transparent;
   display: flex;
   align-items: center;
   justify-content: center;
   backdrop-filter: blur(2.5px);
}
.dpd{
    display: flex;
    border: 2.5px solid rgb(236, 234, 234);
    border-radius: 10px;
    width: 140px;
    height:50px;
    padding-right:  20px ;
    margin: 0px 40px;
}
#lang{
    text-decoration: none;
    border: 0px;
    background: transparent;
    font-size: 20px;
    height: 40px;
    color: white;
}
.dpd1{
    align-content: center;
    width: 50px;
    background-color: white;
    height: 16px;
    position: relative;
    top:12.5px ;
}
.btn1 button{
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(229, 9, 20);
    padding: 15px 20px;
    font-size: 20px;
     transition-duration: 0.3s;
}
button:hover{
    background-color: rgb(180, 27, 27) ;
}
.btn1{
    padding-left: 30px;
}
.cont{
    width: 1000px;
    height: 400px;
    background-color:transparent;
    margin: auto;
    position: relative;
    top: 80px;
    left: 25px;
    backdrop-filter: blur(2.5px);
    justify-content: space-around;
}
.cont1{
    font-family: "Poppins";
    font-weight: 700;
    color: white;
    font-size: 40px;
    height: 60.8px;
    display: inline-block;
    margin: 50px 100px 20px 100px;
}
.cont2{
    font-family: "Poppins";
    font-weight: 400;
    color: white;
    font-size: 30px;
    display: inline-block;
    margin: 0px 240px 20px 240px;
}
.cont3{
    font-family: "Poppins";
    font-weight: 350;
    color: white;
    font-size: 20px;
    display: inline-block;
    margin: 0px 132px 15px 132px;
}
.cont4{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 30px;
}
input{
    width: 400px ;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgb(246, 234, 234);
    border-radius: 10px;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 400 ;
    color: rgb(255, 246, 246);
}
input::-webkit-input-placeholder {
    font-size: 18px;
    position: relative;
    left: 20px;
    font-family: "Poppins";
    font-weight: 400 ;
    color: rgb(255, 246, 246);
}
.btn2 button{
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(229, 9, 20);
    padding: 15px 20px;
    font-size: 20px;
     transition-duration: 0.3s;
}
button:hover{
    background-color: rgb(180, 27, 27) ;
}
form{
    padding-right: 20px;
}
.box1{
    background-color: black;
    display: flex;
    border-top: 8px solid rgba(48, 45, 45, 0.959);
    height: 500px;
    align-items: center;
    justify-content: space-around;
}
.one .info1,.two .info1,.three .info1,.four .info1{
    font-family: "Poppins";
    font-weight: 750;
    color: white;
    font-size: 50px;
    padding-bottom: 10px;
 
}
.one .info2,.two .info2,.three .info2,.four .info2{
    font-family: "Poppins";
    font-weight: 400;
    color: white;
    font-size: 25px;
}
.one,.two,.three,.four{
    width: 700px;
    height: 400px;
    background-color: black;
    align-content: center;
}
.pic1{
    background-image: url(images/image1.png);
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    right: 150px;
}
.pic2{
    background-image: url(images/imagE2.png);
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 150px;
}
.pic3{
    background-image: url(images/img3.png);
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    right: 150px;
}
.pic4{
    background-image: url(images/img4.png);
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 150px;
}
.box2,.box4{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    border-top: 8px solid rgba(48, 45, 45, 0.959);
}
.box2{
    background-color:black;
    display: flex;
    height: 500px;
    align-items: center;
}
.box3{
    background-color:black;
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: space-around;
    border-top: 8px solid rgba(48, 45, 45, 0.959);
}
.box4{
    background-color:black;
    display: flex;
    border-bottom: 6px solid rgba(0, 0, 0, 0.211);
    height: 500px;
    align-items: center;
}
.faq{
    height: 1100px;
    background-color:black;
    border-top: 8px solid rgba(48, 45, 45, 0.959);
    align-content: center;
    justify-content: center;
}
.fqq{
    width: 680px;
    height: 60px;
    background-color: black;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 25px;
}
.head{
    font-family: "Poppins";
    font-weight: 750;
    color: white;
    font-size: 46px;
}
.fq1,.fq2,.fq3,.fq4,.fq5,.fq6{
    width: 1150px;
    height: 90px;
    background-color:rgba(53, 46, 46, 0.915) ;
    border: none;
    display: flex;
    font-family: "Poppins";
    font-weight: 400;
    color: white;
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
    transition-duration: 0.3s;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
.fq1:hover{
    background-color: rgb(70, 62, 62);
}
.fq2:hover{
    background-color: rgb(70, 62, 62);
}
.fq3:hover{
    background-color: rgb(70, 62, 62);
}
.fq4:hover{
    background-color:rgb(70, 62, 62);
}
.fq5:hover{
    background-color: rgb(70, 62, 62);
}   
.fq6:hover{
    background-color: rgb(70, 62, 62);
   
}
.q1,.q2,.q3,.q4,.q5,.q6{
    margin-left: 35px;
    
}
.ic{
    font-family: "Poppins";
    font-weight: 250;
    color: white;
    font-size: 50px;
    justify-content: end;
    margin-right: 25px;
}
#span{
    position: relative;
    top: 35px;
    left: 250px;
}
#span1,.btn2{    
    position: relative;
    top: 10px;
    right: 20px;
    padding: 0px 8px;
}
.btn2,#mail{
    position: relative;
    top: 50px;
}
footer{
    height: 400px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    border-top: 8px solid rgba(48, 45, 45, 0.959);
    padding: 0px 100px;
}
.list2 ul,.list3 ul,.list4 ul{
    width: 200px;
    height: 220px;
    background-color: black;
    list-style: none;
}
.list1 ul{
    width: 290px;
    height: 310px;
    background-color: black;
    list-style: none;
}
#list{
    display: flex;
    border: 1.5px solid rgb(236, 234, 234);
    border-radius: 10px;
    width: 120px;
    height: 40px;
    padding-right:  20px ;
    margin: 0px 40px;
    position: relative;
    right: 40px;
}
#list .dpd1{
    align-content: center;
    width: 50px;
    background-color: white;
    height: 16px;
    position: relative;
    top:12.5px ;
}
#list #lang{
    text-decoration: none;
    border: 0px;
    background: transparent;
    font-size: 16px;
    height: 40px;
    color: white;
}
.list1 ul li a,.list2 ul li a,.list3 ul li a,.list4 ul li a{
    font-weight: 200;
    font-family: "Roboto";
    color: aliceblue;
    text-decoration: underline 1px white;
    font-size: 15px;
}
.list1 ul li,.list2 ul li,.list3 ul li,.list4 ul li{
    padding: 10px 25px;
}
.li{
    font-weight: 200;
    font-family: "Roboto";
    color: aliceblue;
}

